.terraform
.terraform.lock.hcl
__pycache__
kubeconfig_test
kubeconfig_prod
venv*
.DS_Store
core/db/**/.env*
build/
*.egg-info
.pytest_cache
.vscode
**/public/serviceWorker.js
**.coverage
e2e-tests/pulse3d/profile/*
