<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>[Important] Your Curi Bio Pulse advanced analysis Account Has Reached Its Token Limit</title>
  </head>
  <body>
    <p>Dear Pulse Administrator,</p>

    <p>
      You are receiving this message because you are listed as the administrator for a Curi Bio Pulse advanced analysis account.
    </p>

    <p>
      Your account has used all available analysis tokens, and you will be unable to run new analyses until additional tokens are purchased.
      You will continue to have access to your uploaded data and completed analyses{% if expiration_date %} until your account expires on {{ expiration_date }}{% endif %}.
    </p>

    <p>
      To purchase more tokens, please contact us at sales@curibio.com.<br/>
      If you have any questions, or if your email is not linked to a Pulse Administrator account, please contact support@curibio.com.
    </p>

    <p>
      Best regards,<br />
      The Curi Bio Team
    </p>
  </body>
</html>
