<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>[Important] Curi Bio Pulse {{ product_name }} account has expired.</title>
  </head>
  <body>
    <p>
      You are receiving this message because you are listed as the administrator for a Curi Bio Pulse {{ product_name }} account.
      Your account expired today, on {{ expiration_date }}.
    </p>
    <p>
      As of now, any remaining analysis tokens have been voided, and you will no longer be able to process new recordings.
      You will continue to have access to your uploaded data and completed analyses for 30 days from the expiration date.
      After this grace period, your account will be deactivated, and all data and analyses will no longer be accessible.
    </p>
    <p>
      To renew your access to Pulse, please contact sales@curibio.com.<br />
      If you do not intend to continue using Pulse, please ensure you download any data or results you wish to keep before your account is deactivated.
    </p>
    <p>
      Best,<br />
      The Curi Bio Team
    </p>
  </body>
</html>
