<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>[Important] Curi Bio Pulse {{ product_name }} account expires in {{ days_until_expiration }} days.</title>
  </head>
  <body>
    <p>
      You are receiving this message because you are listed as the administrator for a Curi Bio Pulse {{ product_name }} account. Your account will expire in {{ days_until_expiration }} days, on {{ expiration_date }}.<br />
      After the expiration date, your remaining analysis tokens will be voided and you will no longer be able to process recordings. You will continue to have access to your uploaded data and completed analyses for 30 days from the expiration date.<br />
      After this grace period, your account will be deactivated, and all data and analyses will no longer be accessible.
    </p>
    <p>
      To renew access to Pulse, please contact sales@curibio.com.<br />
      If you do not intend to continue using Pulse, please ensure you download any data or results you wish to keep before your account is deactivated.
    </p>
    <p>
      Best,<br />
      The Curi Bio Team
    </p>
  </body>
</html>
