<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Forgot your password?</title>
  </head>
  <body>
    <h2>{{ username }},</h2>
    <p>
      A request has been made to reset your account password. If you made this request, please click the link
      below to be redirected the reset password form:
    </p>

    <p><a href="{{url}}">Click here</a></p>

    <p>
      This link will expire after 24 hours. If you did not make this request, please let your admin know
      immediately.
    </p>
  </body>
</html>
