anyio==3.7.1
asgiref==3.4.1
click==8.0.3
fastapi==0.105.0
h11==0.12.0
httpx==0.24.0
idna==3.3
pydantic==2.5.2
requests==2.27.1
sniffio==1.2.0
starlette==0.27.0
typing-extensions==4.9.0
uvicorn[standard]==0.22.0
boto3==1.28.6
immutabledict==3.0.0
psycopg2-binary==2.9.6
httptools==0.5.0
semver==3.0.1
structlog==23.2.0
starlette-context==0.3.6
