apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apiv2
resources:
  - ../../base
  - curibio-jwt-secret.yaml
  - curibio-users-creds.yaml
  - curibio-mantarray-creds.yaml
  - curibio-email-creds.yaml
  - curibio-event-broker-creds.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: "apiv2.curibio.com"
    target:
      kind: Ingress
      name: apiv2-ingress
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/image
        value: "245339368379.dkr.ecr.us-east-2.amazonaws.com/users:0.12.4"
      - op: add
        path: /spec/template/spec/containers/0/env/0
        value:
          name: DASHBOARD_URL
          value: "https://dashboard.curibio.com"
      - op: add
        path: /spec/template/spec/containers/0/env/0
        value:
          name: MICROSOFT_SSO_APP_ID
          value: "2a23ce0a-e279-444f-82a9-f27b52586d20"
      - op: add
        path: /spec/template/spec/containers/0/env/0
        value:
          name: CURIBIO_SALES_EMAIL
          value: "sales@curibio.com"
      - op: add
        path: /spec/template/spec/containers/0/env/0
        value:
          name: CURIBIO_SUPPORT_EMAIL
          value: "support@curibio.com"
      - op: add
        path: /spec/template/spec/containers/1/image
        value: "245339368379.dkr.ecr.us-east-2.amazonaws.com/mantarray:0.10.6"
      - op: replace
        path: /spec/template/spec/containers/1/env/0/value
        value: prod
      - op: add
        path: /spec/template/spec/containers/1/env/0
        value:
          name: DASHBOARD_URL
          value: "https://dashboard.curibio.com"
      - op: add
        path: /spec/template/spec/containers/2/image
        value: "245339368379.dkr.ecr.us-east-2.amazonaws.com/event-broker:0.1.8"
      - op: add
        path: /spec/template/spec/containers/2/env/0
        value:
          name: DASHBOARD_URL
          value: "https://dashboard.curibio.com"
    target:
      kind: Deployment
      name: apiv2
