/* curi color palette */
:root {
  --dark-blue: rgb(0, 38, 62);
  --teal-green: rgb(25, 172, 138);
  --dark-gray: rgb(167, 168, 169);
  --light-gray: rgb(236, 236, 237);
  --light-blue: rgb(0, 84, 112);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Mulish;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Mulish;
}

button {
  position: absolute;
  width: inherit;
  height: 15%;
  background-color: var(--dark-blue);
  color: var(--light-gray);
  bottom: 0px;
  border-radius: 3%;
  font-size: inherit;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: var(--teal-green);
}
