apiVersion: v1
kind: ServiceAccount
metadata:
  name: default
  namespace: pulse3d
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::077346344852:role/test-v2-new-pulse3d-pods-iam-role01
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: operator
  namespace: kopf
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::077346344852:role/test-v2-new-operators-iam-role01

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: default
  namespace: apiv2
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::077346344852:role/test-v2-new-apiv2-pods-iam-role01

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: default
  namespace: argocd
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::077346344852:role/test-v2-new-loki-pods-iam-role01
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: default
  namespace: advanced-analysis
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::077346344852:role/test-v2-new-advanced-analysis-pods-iam-role01
